<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.hulk.pillsapp.test.BehaviorAccessibilityProbeActivity"
            android:exported="true"
            android:label="行为学习无障碍测试页"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
