<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.hulk.manualledger.permission.READ_LEDGER"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ManualLedgerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_art"
        android:label="本地账本"
        android:roundIcon="@drawable/ic_launcher_art"
        android:theme="@style/Theme.ManualLedger">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".ManualLedgerProvider"
            android:authorities="com.hulk.manualledger.sync"
            android:exported="true"
            android:readPermission="com.hulk.manualledger.permission.READ_LEDGER" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
